/* small 460 max */
/* medium 1280 max */

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Barlow";
}

a,
a:active,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background-color: #e2e2e2;
  overflow-x: hidden;
}
.code__project__image-container {
  height: 80%;
  width: 80%;
}
.slick-initialized .slick-slide {
  height: 100vh;
  padding: 50px;
  display: flex;
}

.slick-slide img {
  width: 100%;
  object-fit: contain;
}
