@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Barlow";
}

a,
a:active,
a:hover,
a:visited,
a:link {
  text-decoration: none;
  color: inherit;
}

html,
body {
  background-color: #3b6978;
  overflow-x: hidden;
}
.code__width-container {
  width: 100vw;
  padding: 0 150px;
}

.slick-initialized .slick-slide {
  height: 100vh;
  padding: 100px 0;
  display: flex;
}

.slick-slide .code__width-container__project__image-container__image {
  padding: 0 50px;
  margin: 0 50px;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.code__width-container__project__image-container__image {
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  background-image: var(--image);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0px -250px 300px -125px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0px -250px 300px -125px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px -250px 300px -125px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.code__width-container__project__image-container__link-container {
  color: #f2f2f2;
  justify-self: flex-start;
  height: 100%;
  margin-top: 50px;
}

.code__width-container__project__image-container__link-container a {
  height: 50px;
  width: 150px;
  background-color: #da245a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 30px -12px rgba(0, 0, 0, 1);
  text-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.4);
}
.code__width-container__project__image-container__link-container a:hover {
  filter: brightness(90%);
}
.code__width-container__project__image-container__link-container a:active {
  filter: brightness(70%);
}
.code__width-container__project__image-container__link-container a {
  text-transform: uppercase;
  font-weight: bold;
}
.code__width-container__project__image-container__name {
  color: #f2f2f2;
  font-size: xx-large;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 3px #00000078;
  text-transform: uppercase;
}
.code__width-container__project__image-container__desc {
  color: #f2f2f2;
  font-size: x-large;
  margin-bottom: 50px;
  text-shadow: 0 1px 3px #00000078;
}

.code__width-container__project__image-container__desc b {
  color: #da245a;
}
.code__width-container__author__info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code__width-container__author__info-container__card {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  max-width: 826px;
  height: 150px;
  margin: 0 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.code__width-container__author__info-container__card__picture {
  height: 150px;
  width: 150px;
  background-size: 150px 150px;
  background-image: url("../imgs/author.png");
  display: inline-table;
}

.code__width-container__author__info-container__card__info-container {
  margin: 20px;
}
.code__width-container__author__info-container__card__info-container__name {
  color: #f2f2f2;
  font-size: larger;
  margin-bottom: 5px;
}
.code__width-container__author__info-container__card__info-container__desc {
  color: #f2f2f2;
}
.code__width-container__author__info-container__card__info-container__desc a {
  color: #da245a;
  font-weight: bold;
}

.code__width-container__author__info-container__card__info-container__desc
  a:hover {
  filter: brightness(90%);
}
.code__width-container__author__info-container__card__info-container__desc
  a:active {
  filter: brightness(70%);
}

.code__width-container__author__copyright {
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 20px;
  text-shadow: 0 1px 3px #00000078;
}
